@import "tailwindcss";
@source "../views";

@layer components {
    .btn-primary {
        @apply bg-yellow-500 text-white px-4 py-2 rounded;
    }
}

@theme {
    --color-soft-white: #FAF9F8;
    --color-golden-brown: #C2996F;
    --color-soft-brown: #362C27;
}